<header>

    <div class="nav-bar">
        <a class="web-title" href="/">Steam Game Library</a>

        <div class="search_container">
            <input type="text" class="search-bar" placeholder="Search for games...">
            <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>

</header>
<main>
  