<%- include('partials/game/detailHeader.ejs') %>
<%- include('partials/navbar.ejs') %>

<h1>Elden Ring</h1>

<div class="container">
    <div class="left-container">

        <div class="content-container visual">
            <img width="750" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/2622380/ss_edfd360b92d6f9b983b759fd837e664b86cd9563.600x338.jpg?t=1749150157"
                alt="">
        </div>

        <div class="content-container about">
            <h3>About this game</h3>
            <hr>    
            <span>
                Cyberpunk 2077 is an open-world, action-adventure RPG set in the megalopolis of Night City, where you play as a cyberpunk mercenary wrapped up in a do-or-die fight for survival. Improved and featuring all-new free additional content, customize your character and playstyle as you take on jobs, build a reputation, and unlock upgrades. The relationships you forge and the choices you make will shape the story and the world around you. Legends are made here. What will yours be? <br><br><img class="bb_img"
                    src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/2622380/extras/GRS_STEAM_GIF01_RISE_TOGETHER.gif?t=1749150157" />
                <h2 class="bb_tag">RISE TOGETHER</h2>Cyberpunk 2077 is an open-world, action-adventure RPG set in the megalopolis of Night City, where you play as a cyberpunk mercenary wrapped up in a do-or-die fight for survival. Improved and featuring all-new free additional content, customize your character and playstyle as you take on jobs, build a reputation, and unlock upgrades. The relationships you forge and the choices you make will shape the story and the world around you. Legends are made here. What will yours be? .<br><br><img class="bb_img"
                    src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/2622380/extras/GRS_STEAM_GIF02_BECOME_A_HERO.gif?t=1749150157" />
                <h2 class="bb_tag">BECOME A HERO</h2>Take command of uniquely skilled heroes, each possessing their own
                abilities and distinct flair. While individually formidable, their skills create powerful synergies when
                they unite as a team.<br><br><img class="bb_img"
                    src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/2622380/extras/GRS_STEAM_GIF03_TAKE_ON_THE_NIGHT.gif?t=1749150157" />
                <h2 class="bb_tag">TAKE ON THE NIGHT</h2>Overcome a relentless environmental threat that sweeps through
                a land that changes between each game session and defeat the magnificent boss of that night!
            </span>

        </div>

    </div>




    <!-- 2 divided -->



    <div class="right-container">
        <!-- upper -->
        <div class="box-container review">

            <div>
                <img src="https://store.akamai.steamstatic.com/public/shared/images/userreviews/icon_thumbsUp_v6.png"
                    alt="">
            </div>

            <div>
                <p><span>Recent Review: </span>
                    <span>Positive</span>
                </p>
                <p>
                    <span>
                        All Revies:
                    </span>
                    <span>
                        Positive
                    </span>
                </p>
            </div>

        </div>
        <!-- middle -->
        <div class="box-container light-info">
            <div>
                <img src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/2622380/header.jpg?t=1749150157"
                    alt="">
            </div>

            <div>
                <p>
                    ELDEN RING NIGHTREIGN is a standalone adventure within the ELDEN RING universe, crafted to offer
                    players a new gaming experience by reimagining the game’s core design.
                </p>
            </div>

            <div>
                <p>
                    <span>
                        Release Date:
                    </span>
                    <span>
                        28 Oct, 2003
                    </span>
                </p>

                <p>
                    <span>
                        Genera:
                    </span>
                    <span>
                        Action, Open World
                    </span>
                </p>

                <p>
                    <span>
                        Supported Platform:
                    </span>
                    <span>
                        Windows
                    </span>
                </p>

                <p>
                    <span>
                        Developer:
                    </span>
                    <span>
                        Good Guys
                    </span>
                </p>

                <p>
                    <span>
                        Publisher:
                    </span>
                    <span>
                        They are fine
                    </span>
                </p>

                <p>
                    <span>
                        APPID
                    </span>
                    <span>
                        0001
                    </span>
                </p>
            </div>

            <div>
                <div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/50px-Steam_icon_logo.svg.png"
                        alt="">
                </div>

                <div>
                    <span>
                        diccount
                    </span>
                    <span>
                        original price
                    </span>
                    <span>
                        last price
                    </span>
                </div>
            </div>
        </div>
        <!-- end -->
        <div class="box-container requirement">
            <h3>System Requirements</h3>

            <div>
                <hr>
                <img src="" alt="Windows">
                <img src="" alt="MacOS">
                <img src="" alt="Linux">
                <hr>
            </div>

            <div>
                <strong>Minimum:</strong><br>
                <ul class="bb_ul">
                    <li>Requires a 64-bit processor and operating system<br></li>
                    <li><strong>OS:</strong> Windows 10<br></li>
                    <li><strong>Processor:</strong> Intel Core i5-10600 / AMD RYZEN 5 5500<br></li>
                    <li><strong>Memory:</strong> 12 GB RAM<br></li>
                    <li><strong>Graphics:</strong> NVIDIA GeForce GTX 1060 3GB / AMD Radeon RX 580 4GB<br></li>
                    <li><strong>DirectX:</strong> Version 12<br></li>
                    <li><strong>Storage:</strong> 30 GB available space<br></li>
                    <li><strong>Sound Card:</strong> Windows compatible audio device</li>
                </ul>
            </div>

            <div>
                <strong>Recommended:</strong><br>
                <ul class="bb_ul">
                    <li>Requires a 64-bit processor and operating system<br></li>
                    <li><strong>OS:</strong> Windows 11<br></li>
                    <li><strong>Processor:</strong> Intel Core i5-11500 / AMD RYZEN 5 5600<br></li>
                    <li><strong>Memory:</strong> 16 GB RAM<br></li>
                    <li><strong>Graphics:</strong> NVIDIA GeForce GTX 1070 8GB / AMD Radeon RX Vega-56 8GB<br></li>
                    <li><strong>DirectX:</strong> Version 12<br></li>
                    <li><strong>Storage:</strong> 30 GB available space<br></li>
                    <li><strong>Sound Card:</strong> Windows compatible audio device</li>
                </ul>
            </div>
        </div>
    </div>       

</div>

<%- include('partials/footer.ejs') %>