<%- include('partials/game/detailHeader.ejs') %>
<%- include('partials/navbar.ejs') %>

<h1>Elden Ring</h1>

<div class="container">
    <div class="left-container">

        <div class="content-container visual">
            <img width="800"
                src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/2622380/ss_edfd360b92d6f9b983b759fd837e664b86cd9563.600x338.jpg?t=1749150157"
                alt="">
        </div>

        <div class="content-container about">
            <h3>About this game</h3>
            <hr>
            <span>
                Cyberpunk 2077 is an open-world, action-adventure RPG set in the megalopolis of Night City, where you
                play as a cyberpunk mercenary wrapped up in a do-or-die fight for survival. Improved and featuring
                all-new free additional content, customize your character and playstyle as you take on jobs, build a
                reputation, and unlock upgrades. The relationships you forge and the choices you make will shape the
                story and the world around you. Legends are made here. What will yours be? <br><br><img class="bb_img"
                    src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/2622380/extras/GRS_STEAM_GIF01_RISE_TOGETHER.gif?t=1749150157" />
                <h2 class="bb_tag">RISE TOGETHER</h2>Cyberpunk 2077 is an open-world, action-adventure RPG set in the
                megalopolis of Night City, where you play as a cyberpunk mercenary wrapped up in a do-or-die fight for
                survival. Improved and featuring all-new free additional content, customize your character and playstyle
                as you take on jobs, build a reputation, and unlock upgrades. The relationships you forge and the
                choices you make will shape the story and the world around you. Legends are made here. What will yours
                be? .<br><br><img class="bb_img"
                    src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/2622380/extras/GRS_STEAM_GIF02_BECOME_A_HERO.gif?t=1749150157" />
                <h2 class="bb_tag">BECOME A HERO</h2>Take command of uniquely skilled heroes, each possessing their own
                abilities and distinct flair. While individually formidable, their skills create powerful synergies when
                they unite as a team.<br><br><img class="bb_img"
                    src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/2622380/extras/GRS_STEAM_GIF03_TAKE_ON_THE_NIGHT.gif?t=1749150157" />
                <h2 class="bb_tag">TAKE ON THE NIGHT</h2>Overcome a relentless environmental threat that sweeps through
                a land that changes between each game session and defeat the magnificent boss of that night!
            </span>
        </div>
    </div>




    <!-- 2 divided -->



    <div class="right-container">
        <!-- upper -->
        <div class="box-container box-rating">

            <div class="rating-container">
                <div class="rating-img">❤️</div>
                <!-- <img class="rating-img"
                    src="https://store.akamai.steamstatic.com/public/shared/images/userreviews/icon_thumbsUp_v6.png"
                    alt=""> -->

                <div class="rating-text">
                    <p class="rating-text__item">
                        <strong>Recent Reviews:</strong>
                        <span class="rating-status">
                            <span class="rating-color">Positive</span>
                            <span class="rating-count">(8,644)</span>
                        </span>
                    </p>
                    <p class="rating-text__item">
                        <strong>All Reviews:</strong>
                        <span class="rating-status">
                            <span class="rating-color">Positive</span>
                            <span class="rating-count">(751,864)</span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <!-- middle -->
        <div class="box-container box-info">

            <img class="header-img"
                src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/2622380/header.jpg?t=1749150157"
                alt="">

            <div class="info-container">
                <div class="info-short-description">
                    ELDEN RING NIGHTREIGN is a standalone adventure within the ELDEN RING universe, crafted to offer
                    players a new gaming experience by reimagining the game’s core design.
                </div>


                <div class="info">
                    <p class="info__item">
                        <strong>Release Date:</strong>
                        <span>28 Oct, 2003</span>
                    </p>
                    <p class="info__item">
                        <strong>Platform:</strong>
                        <span class="platforms">
                            <span class="platform w">Windows</span>
                            <span class="platform m">MacOS</span>
                            <span class="platform l">Linux</span>
                        </span>

                    </p>
                    <p class="info__item">
                        <strong>Developer:</strong>
                        <span>Good Guys</span>
                    </p>
                    <p class="info__item">
                        <strong>Publisher:</strong>
                        <span>They are fine</span>
                    </p>
                    <p class="info__item">
                        <strong>App ID:</strong>
                        <span>0001</span>
                    </p>
                    <p class="info__item">
                        <strong>Genres:</strong>
                        <span class="genre-tags">
                            <span class="genre-tag">Open World</span>
                            <span class="genre-tag">Open World</span>
                            <span class="genre-tag">Open World</span>
                            <span class="genre-tag">Open World</span>
                            <span class="genre-tag">Open World</span>
                            <span class="genre-tag">Open World</span>
                        </span>
                    </p>
                </div>
                <a href="https://store.steampowered.com/app/2622380" target="_blank">
                    <div class="price-container">
                        <div class="price-items">
                            <img width="50"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/1280px-Steam_icon_logo.svg.png"
                                alt="Steam">

                            <div class="price-info">
                                <span class="discount">
                                    -90%
                                </span>
                                <span>
                                    <span class="original-price">$99.99</span>
                                    <span class="current-price">$9.99</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>

        <!-- end -->
        <div class="box-container box-requirement">
            <h3>System Requirements</h3>

            <div class="platform-icons-container">
                <hr>
                <div>
                    <img class="platform-icon"
                        src="https://images.seeklogo.com/logo-png/40/2/windows-11-icon-logo-png_seeklogo-406208.png"
                        alt="Windows">
                    <img class="platform-icon"
                        src="https://cdn4.iconfinder.com/data/icons/flat-design-development-set-3/24/platform-mac-os-512.png"
                        alt="MacOS">
                    <img class="platform-icon" src="https://cdn-icons-png.flaticon.com/512/6124/6124995.png"
                        alt="Linux">
                </div>

                <hr>
            </div>

            <div class="system-requirements">
                <div class="min-requirement">
                    <strong class="minimum">Minimum:</strong><br>
                    <ul class="req-ul">
                        <li>Requires a 64-bit processor and operating system<br></li>
                        <li><strong>OS:</strong> Windows 10<br></li>
                        <li><strong>Processor:</strong> Intel Core i5-10600 / AMD RYZEN 5 5500<br></li>
                        <li><strong>Memory:</strong> 12 GB RAM<br></li>
                        <li><strong>Graphics:</strong> NVIDIA GeForce GTX 1060 3GB / AMD Radeon RX 580 4GB<br></li>
                        <li><strong>DirectX:</strong> Version 12<br></li>
                        <li><strong>Storage:</strong> 30 GB available space<br></li>
                        <li><strong>Sound Card:</strong> Windows compatible audio device</li>
                    </ul>
                </div>
                <hr class="req-line">
                <div class="max-requirement">
                    <strong class="maximum">Recommended:</strong><br>
                    <ul class="req-ul">
                        <li>Requires a 64-bit processor and operating system<br></li>
                        <li><strong>OS:</strong> Windows 11<br></li>
                        <li><strong>Processor:</strong> Intel Core i5-11500 / AMD RYZEN 5 5600<br></li>
                        <li><strong>Memory:</strong> 16 GB RAM<br></li>
                        <li><strong>Graphics:</strong> NVIDIA GeForce GTX 1070 8GB / AMD Radeon RX Vega-56 8GB<br></li>
                        <li><strong>DirectX:</strong> Version 12<br></li>
                        <li><strong>Storage:</strong> 30 GB available space<br></li>
                        <li><strong>Sound Card:</strong> Windows compatible audio device</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>

<%- include('partials/footer.ejs') %>