<%- include('partials/home/homeHeader.ejs') %> 
<%- include('partials/navbar.ejs') %>

<h1>Something is wrong: Error</h1>
<p><%= message %></p>

<!-- change searchquery to query to access error page -->
<%- include('partials/footer.ejs') %>