/* Main Background Color */
body::before {
    content: "";
    position: fixed;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    z-index: -1;
    background: #171a21;

    /* background: linear-gradient(159deg, rgb(141, 36, 80) 0%, rgb(54, 6, 82) 30%, rgb(57, 6, 86) 44%, rgb(96, 8, 143) 100%); */
    /* background-size: 400% 400%;
    animation: gradient 50s ease infinite;
    filter: blur(30px); */
  }

/* Main Background Animation */
/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

body {
    margin: 0;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    color: #fff;
}

/* NAVIGATION BAR SECTION*/
.nav-bar {
    background: linear-gradient(40deg, #be326d 5%, #360652, #4d0874, #7623d5 );
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Title */
.web-title {
    color: #dbcfd3;
    transition: color 0.3s ease;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.web-title:hover {
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
}

/* SEARCH BAR SECTION */
.search_container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0;
}
/* Search Bar */
.search-bar {
    text-align: center;
    margin: 10px 0 10px 20px;
    width: 200px;
    height: 40px;
    border: 0;
    outline: 0;
    border-radius: 8px;
}

/* Search Button */
.btn {
    /* background: linear-gradient(150deg,#be326d 5%, #3b0659 50%, #330c5f 100% ); */
    background: #1b2838;
    color: #fff;
    width: 43px;
    height: 43px;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 9.5px;
    margin-right: 20px;
}

.btn:hover {
    background: linear-gradient(-150deg, #be326d 5%, #4d0874 50%, #31095f 100%);
}

.btn i {
    position: relative;
    right: 4.5px;
}

/* Title and Search on other devices */
@media only screen and (max-width: 600px) {
    .web-title {
      text-align: center;
      flex-grow: 2;
    }

    .search-bar {
        flex-grow: 1;
        gap: 0;
        margin-right: 20px;
        margin-bottom: 10px;   
    }

    .search_container {
        flex-grow: 1;
        overflow: hidden;
    }
  }

@media only screen and (max-width: 350px) {
    .btn {
        margin-left: 20px;
        flex-grow: 1;
    }
}

/* Main Content (Main Page) */
.container {
    margin: 50px 30px 0 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 50px;
    column-gap: 25px;
}

.item {
    align-content: start;
    list-style-type: none;
    border-radius: 5%;
    background: #1b2838;
    width: 250px;
    height: 265px;

}

.game-title {
    text-align: center;
    font-size: 0.9rem;
}

.game-image {
    width: 250px;
    height: 150px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.game-price {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 3px 0;
}

.game-price__discount-red {
    color: #ff0000;
    background-color: #2c0000;
    padding: 5px 3px 5px 8px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.game-price__discount-yellow {
    color: #ffe175;
    background-color: #926a41;
    padding: 5px 3px 5px 8px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.game-price__discount-green {
    color: #cef89c;
    background-color: #3f5e2d;
    padding: 5px 3px 5px 8px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.game-price__price {
    background-color: #1b1e25;
    padding: 5px 8px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}



/* Pagination */
.pagination { 
    display: flex;
    justify-content: center;
}

.pagination a {
    margin: 50px 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    align-content: center;
    flex-basis: content;

}

.dot {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
}