/* Main Content (Main Page) */
.container {
    margin: 50px 30px 0 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 30px;
    column-gap: 8px;
    padding: 0;
}

.item {
    align-content: start;
    list-style-type: none;
    width: 280px;
    height: 270px;
    background: #333333;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
    transition: all 0.25s linear;
    border-radius: 10px;
    transform: translateZ(0);
}

.item:hover {
    background: linear-gradient(130deg, rgb(141, 36, 80) 0%, rgb(54, 6, 82) 30%, rgb(57, 6, 86) 70%, rgb(141, 36, 80) 100%);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.8);
    transform: scale(1.07) translate(0,-30px);
}

.item a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease;
}

.item a:hover {
    color: #e8e8e8;
}

.game-title {
    text-align: center;
    font-size: 0.78rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game-image {
    width: 280px;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.game-price {
    text-align: center;
    font-size: 1rem;
    padding: 3px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game-price__discount-red {
    color: #FF4500;  
    background-color:rgba(255, 0, 0, 0.2);
}

.game-price__discount-yellow {
    color: #FFD700;
    background-color: rgba(255, 215, 0, 0.2);
}

.game-price__discount-green {
    color: #A4D007;
    background-color: rgba(164, 208, 7, 0.1);
}

.game-price__discount-green, .game-price__discount-yellow, .game-price__discount-red {
    padding: 5px 3px 5px 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-weight: bold;
}

.free {
    color: #2cda00;
}

.game-price__price {
    background-color: #1b1e25;
    padding: 5px 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Pagination */
.pagination { 
    display: flex;
    justify-content: center;
}

.pagination a {
    margin: 50px 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    align-content: center;
    flex-basis: content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.active-page {
    background: linear-gradient(150deg, #be326d 5%, #4d0874 50%, #31095f 100%);
}

.dot {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}