        <div class="box-container box-rating">
            <div class="rating-container">
                <div class="rating-img">❤️</div>

                <div class="rating-text">
                    <!-- Recent Reviews -->
                    <p class="rating-text__item">
                        <strong>Recent Reviews:</strong>
                        <span class="rating-status">
                            <span class="rating-color">Positive</span>
                            <span class="rating-count">(8,644)</span>
                        </span>
                    </p>
                    <!-- All Reviews -->
                    <p class="rating-text__item">
                        <strong>All Reviews:</strong>
                        <span class="rating-status">
                            <span class="rating-color">Positive</span>
                            <span class="rating-count">(751,864)</span>
                        </span>
                    </p>
                </div>
            </div>
        </div>